header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 15;
}

nav a {
    text-transform: uppercase;
    columns: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}